#heading{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
}


.choices{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
img{
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 10px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 10px;
}
#msg{
    height: 50px;
    color: white;
    background-color: black;
    font-size:2rem;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

img:hover{
    border:3px solid black;
    opacity: 70%;
}
@media (max-width : 500px) {
    .choices{
        gap: 2rem;
    }
    img{
        height: 75px;
    }
    #heading{
        font-size: 1rem;
        height: 25px;
    }
    #msg{
        font-size: 1rem;
        height: 25px;
    }
    
}
